// █▀█ █░█ █░░ █▀▀ █▀
// █▀▄ █▄█ █▄▄ ██▄ ▄█

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    open-maximized false
    geometry-corner-radius 18
    clip-to-geometry true
}

window-rule {
    match app-id="code"
    match app-id="zen"
    match app-id="firefox"
    
    open-maximized true
}

window-rule {
    match app-id="code"
    match app-id="kitty"

    opacity 0.9
}

window-rule {
    match is-focused=false

    opacity 0.85
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    _JAVA_AWT_WM_NONREPARENTING "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
}

prefer-no-csd