// --- Módulos --- 
include "modules/startup.kdl"
include "modules/settings.kdl"
include "modules/outputs.kdl"
include "modules/layout.kdl"
include "modules/animations.kdl"
include "modules/rules.kdl"
include "modules/binds.kdl"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"