// █▀▀ █▀█ █▄░█ █▀▀ █ █▀▀
// █▄▄ █▄█ █░▀█ █▀░ █ █▄█

// --- Hardware & Espaços ---
include "monitors.kdl"
include "workspaces.kdl"

// --- Comportamentos ---
include "custom/binds.kdl"
include "custom/input.kdl"
include "custom/startup.kdl"


// --- Visual ---
include "custom/animations.kdl"
include "custom/rules.kdl"
include "custom/layout.kdl"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"