// █▀▀ █▀█ █░░ █▀█ █▀█ █▀
// █▄▄ █▄█ █▄▄ █▄█ █▀▄ ▄█

layout {
    focus-ring {
        active-color "{{colors.outline.default.hex_stripped}}"
        inactive-color "{{colors.outline_variant.default.hex_stripped}}"
    }
}