input {
   keyboard {
    xkb {
      layout "us"
      variant "altgr-intl"
    }
    numlock
   }

   touchpad {
      tap
      natural-scroll
   }

   mouse {

   }

   trackpoint {

   }
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    _JAVA_AWT_WM_NONREPARENTING "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
}
